.darkMode {
  --surface: #1d1e20;
  --surface-contrast: #f1f1ff;

  --primary: #0f3a57;
  --primary-fade: #0d2435;

  --secondary-user: #d47c42;
  --secondary-user-fade: #db77345b;
  --secondary-user-fader: #6464642c;
  
  --secondary-opponent: #cdacff;
  --secondary-opponent-fade: #7734db5b;
  --secondary-opponent-fader: #6464642c;

  --page-header-contrast: #f1f1ff;

  --option-background: #2c2c2c;
  --option-contrast: #ffffff;
  --option-border: #333333;

  --input-background: #282828;
  --input-contrast: #ffffff;
  --input-placeholder: #8e8e8e;
  --input-border: #333333;

  --unpicked-border: #4a85af;
  --unpicked-background: #295576;

  --banned-border: #7f7f7f;
  --banned-background: #545454;
}