.draft {
  text-align: center;
  margin: 6vH 0;
  .user {
    color: #db7734;
  }
  .opponent {
    color: #7734db;
  }

  .waitingContainer {
    margin-top: 80px;

    .imageBox {
      margin-top: 20px;
    }
    .inviteBox {
      background: #e9f4fb;
      width: fit-content;
      margin: 56px auto 10px;
      padding: 1px 30px;
      border-radius: 7px;
      cursor: pointer;
    }


  }
  .joiningContainer {
    margin-top: 80px;
    .nameInput {
      margin-top: 0;
    }
  }
  .versusContainer {
    display: flex;
    justify-content: space-around;
    width: 84%;
    margin: 20px auto;
    background: linear-gradient(90deg, rgb(252, 244, 239) 0%, rgb(252, 244, 239) 49.9%, rgb(244, 239, 252) 50%, rgb(244, 239, 252) 100%);
    border-radius: 9px;
    max-width: 800px;
    height: 130px;

    

    h1 {
      padding: 5px;
      border-radius: 55px;
      background: #ffffff;
      color: #3498DB;
      align-self: center;
    }

    @media (max-width: 500px) {
      h1 {
        font-size: 15px;
      }
    }
  }
}

