.draft {
  text-align: center;
  margin: 6vH 0;
  .user {
    color: var(--secondary-user);
  }
  .opponent {
    color: var(--secondary-opponent);
  }

  .waitingContainer {
    margin-top: 80px;

    .imageBox {
      margin-top: 20px;
    }
    .inviteBox {
      background: var(--option-background);
      width: fit-content;
      margin: 56px auto 10px;
      padding: 1px 30px;
      border-radius: 7px;
      cursor: pointer;
    }


  }
  .joiningContainer {
    margin-top: 80px;
    .nameInput {
      margin-top: 0;
    }
  }
  .versusContainer {
    display: flex;
    justify-content: space-around;
    width: 84%;
    margin: 20px auto;
    background: linear-gradient(90deg, var(--secondary-user-fader) 0%, var(--secondary-user-fader) 49.9%, var(--secondary-opponent-fader) 50%, var(--secondary-opponent-fader) 100%);
    border-radius: 9px;
    max-width: 800px;
    height: 130px;

    

    h1 {
      padding: 5px;
      border-radius: 55px;
      background: var(--surface);
      color: #3498db;
      align-self: center;
    }

    @media (max-width: 500px) {
      h1 {
        font-size: 15px;
      }
    }
  }
}

