.results {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  text-align: center;
  .playerData {
    flex: 1 1 auto;

    display: flex;
    flex-direction: column;
    height: calc(50vh - 27.5px);
    justify-content: center;
    align-items: stretch;

    h2 {
      font-size: 30px;
      margin: 0;
    }
    
    &.userData {
      background-color: var(--secondary-user-fader);
      h3 {
        color: var(--secondary-user);
      }
    }
    &.opponentData {
      background-color: var(--secondary-opponent-fader);
      h3 {
        color: var(--secondary-opponent);
      }
    }
    .user {
      color: var(--secondary-user);
    }
    .opponent {
      color: var(--secondary-opponent);
    }
    .characterList {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
    }
    .soloButton {
      background: var(--secondary-user);
      color: var(--surface-contrast);
      font-size: 16px;
      height:41px;  
      margin: 10px auto;
    }
    h3 {
      margin: 10px auto;
      height: 41px;
    }
  }

  
  @media (max-width: 880px) and (orientation: portrait) {
    .playerData {
      h2 {
        font-size: 24px;
      }
      
    }
  }
  @media (max-height: 700px) and (orientation: landscape) {
    .playerData {
      padding: 20px 0;
      height: unset;
    }
  }
}