.characterContainer {
  flex: 0 0 auto;

  border: var(--unpicked-border) 5px solid;
  border-radius: 9px;
  background: var(--unpicked-background);
  box-sizing: border-box;

  width: 40%;
  max-width: 200px;
  margin: 10px 10px;
  opacity: 1;

  cursor: pointer;

  &.banned {
    background: var(--banned-background);
    border: var(--banned-border) solid 5px;
  }

  &.picked {
    border: solid 5px;
  }

  &.taken {
    opacity: 0.4;
  }

  &.user {
    border-color: var(--secondary-user);
    background: var(--secondary-user-fade);
  }

  &.opponent {
    border-color: var(--secondary-opponent);
    background: var(--secondary-opponent-fade);
  }
  
}