.draftList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-self: center;
  width: 80%;
  max-width: 1000px;
  margin: 0 auto;

  span {
    flex: 1 0 auto;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 22px;
    border: black 1px solid;
    width: 200px;
    height: 200px;
    margin: 10px 10px;

    cursor: pointer;
  }
}