.draftList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-self: center;
  max-width: 1000px;
  margin: 0 auto;

  .user {
    color: var(--secondary-user);
  }
  .opponent {
    color: var(--secondary-opponent);
  }
}