.draftList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-self: center;
  width: 80%;
  max-width: 1000px;
  margin: 0 auto;

  .user {
    color: #db7734;
    border-color: #db7734;
  }
  .opponent {
    color: #7734db;
    border-color: #7734db;
  }

  div {
    flex: 1 0 auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-size: 22px;
    border: black 5px solid;
    box-sizing: border-box;
    width: 200px;
    height: 200px;
    margin: 10px 10px;

    cursor: pointer;

    &.banned {
      border: #00000020 solid 5px;
      h3 {
        opacity: 0.2;
        text-decoration: line-through;
      }
    }

    &.picked {
      border: solid 5px;
    }
    
  }
}