.option {
  margin: 0 10px 30px;
  h2 {
    margin: 0 0 6px;
  }

  .optionButtons {

    .button {
      border: 1px black solid;
      padding: 10px 30px;
      cursor: pointer;
      transition: all ease-in-out 0.07s;
      display: inline-block;
      &.active {
        background: #3498db;
        color: white;
        font-weight: bold;
      }
    }
  }
}