.pageHeader {
  background: #3498DB;
  margin: 0;
  padding: 6px 14px 4px;
  display: flex;
  color: white;
  align-items: center;
  height: 45px;
  box-shadow: 0px 0px 2px 2px #00000026;

  .logo {
    display: contents;
    cursor: pointer;
    img {
      display: inline-block;
      width: 40px;
    }
    h1 {
      margin: 0px;
      font-size: 27px;
      font-weight: 500;
    }
  }

  .outwardLinks {
    margin-left: auto;
    display: flex;
    justify-content: space-between;
    width: 200px;
    a > div {
      width: 26px;
      height: 26px;
      background: white;
      mask-size: contain;
    }
  }

  
}