button {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
  &.soloButton {
    display: block;
    width: 200px;
    margin: 40px auto;
  }
}

@media (min-width: 400px) {
  .wideScreenHidden {
    display: none;
  }
}
@media (max-width: 400px) {
  .smallScreenHidden {
    display: none;
  }
}